body {
  background-color: black;
}

.boxImage {
  position: absolute;
}

#myButton {
  background-color: rgba(46, 172, 8, 0.835);
}

#userInput {
  justify-content: center;
  margin-left: 20px;
}

#imgGameLogo {
  width: 303px;
  height: 90px;
}

#mainTitle {
  text-align: center;
  margin-top: 50px;
  color: rgb(233, 221, 116);
}

#imgGamebox {
  height: 200px;
  margin-left: 830px;
}

#resetGame {
  height: 200px;
  width: 200px;
  margin-top: 300px;
}

#subTitle,
#details,
#details2,
#howTo,
#howTwo,
#restTitle {
  text-align: center;
  color: rgba(233, 221, 116, 0.801);
}

#tip {
  text-align: center;
  color: rgba(248, 42, 42, 0.541);
}

#directionQuestion,
#textArea {
  text-align: center;
  color: rgb(233, 222, 116);
}

#mapAppature {
  position: relative;
  height: 800px;
  width: 1200px;
  overflow: hidden;
}

#mapArea {
  position: absolute;
  margin: auto;
  top: 100px;
  right: 0;
  bottom: 0;
  left: 0;
  height: 800px;
  width: 1200px;
  background-color: black;
  /* transform: translate(100px, 100px); */
  /* border-radius: 3px; */
}

.forceHeight {
  height: 200px;
  width: 1200px;
  margin: 0px !important;
}

.PicSize {
  height: 200px;
  width: 200px;
  display: none;
}

.imageWrapper {
  position: relative;
}

.overlayImage {
  position: absolute;
  top: 75px;
  left: 75px;
  /* mix-blend-mode: multiply; */
}

.forceSize {
  height: 50px;
  width: 51px;
}

.noMargins {
  padding: 0px !important;
  margin: 0px !important;
}

.noBorder {
  display: none !important;
}
