body {
  text-align: center;
}

#mapAppature {
  border: black 1px solid;
  position: relative;
  height: 800px;
  width: 1200px;
  overflow: hidden;
}

#mapArea {
  position: absolute;
  margin: auto;
  top: 100px;
  right: 0;
  bottom: 0;
  left: 0;
  height: 800px;
  width: 1200px;
  background-color: wheat;
  /* transform: translate(100px, 100px); */
  /* border-radius: 3px; */
}

.forceHeight {
  height: 200px;
  width: 1200px;
  margin: 0px !important;
}

.PicSize {
  height: 200px;
  width: 200px;
}

.imageWrapper {
  position: relative;
}
.overlayImage {
  position: absolute;
  top: 75px;
  left: 75px;
  /* mix-blend-mode: multiply; */
}

.forceSize {
  height: 50px;
  width: 51px;
}

.noMargins {
  padding: 0px !important;
  margin: 0px !important;
}

.noBorder {
  display: none !important;
}
